<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>CheSS - Chess with CSS</title>
</head>
<body>
    <div id="checkmate-overlay">
        <h1 id="checkmate-text">Checkmate!</h1>
        <button id="play-again-button">Play Again</button>
    </div> 

    <section id="left-panel">
        <div class = "slide-panel showPanel" id = "rules-panel">
            <!-- Rules go here -->
            <section id = "rules-section">
                <h2>Rules of CheSS</h2>
                <h3>1. The normal chess rules apply <i>(mostly...)</i></h3>
                <ul>
                    <li>The board and the pieces can be manipulated by CSS, changing their behaviour.</li>
                    <li>Special moves - <i>en passant</i>, promotions, and castling - can't be made.</li>
                    <li>There is no drawing or stalemating.</li>
                </ul>
                <h3>2. A turn may consist of either a regular chess piece move, or a CSS move.</h3>
                <ul>
                    <li>CSS moves can be made by entering interprettable CSS into the editor, then pressing the 'Submit CSS' button.</li>
                </ul>
                <!-- gif gos here, 3 different operations -->
                <em>Tip: Dragging a piece, a rank or file legend, or the board into the editor will </em>
                                    
            </section>
            
            <div class = "slide-tab" id = "rules-tab">
                <div>
                    <text>Rules</text>
                </div>
            </div>     
        </div>
 
        <div class = "tooltip" id = "multiplayer-tooltip">MP
            <div class = "tooltip-text-container">
                <text class = "tooltip-text" id="player-col-text"></text>
                <text class = "tooltip-text" id="room-id-text"></text>
            </div>
        </div>
        <div id = "board-container" class="draggable" draggable="true"></div>
        <div class = "turn-control-dashboard">
            <span class ="turn-indicator-container">
                <span class ="turn-indicator" id="white-turn-indicator" data-isWhiteTurn>White Turn</span>
                <span class ="turn-indicator" id="black-turn-indicator" data-isWhiteTurn>Black Turn</span>
            </span>
            <button id = "undo-button">Undo</button>
            <button id = "redo-button">Redo</button>
            <button id = "new-game-button">New Game</button>
            <button id = "view-games-button">View Games</button>
            <button id = "dashboard-play-local-button">Play Local</button>
        </div>
    </section>

    <section id="right-panel">
        <div id="text-editor" style="border:1px solid grey"></div>
        <button id="submit-css-button">Submit CSS</button>
    </section>

    <div id="room-list-container">
        <ul id = "room-list">     
        </ul>
        <button id = "roomlist-play-local-button">Play Local</button>
        <button id = "create-room-button">Create Room</button>
    </div>
</body>
</html>