:root{
    --size:      800px;
    --box-size:  calc(var(--size)/8);
    --dark:      grey;
    --light:     white;
    --hover:     lightgreen
  }
body{
  background-color: rgb(36,44,48);
}
#text-editor{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
#left-panel{
  position: absolute;
  left: 0%;
  right: 50%;
  top: 0%;
  bottom: 0%;
}
#right-panel{
  position: absolute;
  display: flex;
  left: 50%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
#board-container{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  max-width: var(--size);
  max-width: var(--size);
  border-spacing: 0;
}
.board{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: var(--size);
  max-width: var(--size);
  border-spacing: 0;
}
.square{
  box-sizing: border-box;
  width: var(--box-size);
  height: var(--box-size);
  min-width: var(--box-size);
  min-height: var(--box-size);
  padding: 0;
}
.light{
  background: var(--light);
}
.dark{
  background: var(--dark)
}
td:hover{
  background: var(--hover);
  cursor: pointer
}

.turn-control-dashboard{
  position: relative;
  display: flex;
  left: 50%;
  align-content: center;
  justify-content: center;
  top: calc(22% + var(--size));
  transform: translate(-50%);
}
.turn-indicator-container{
  display: inline-block;
  border-radius: 1rem;
  background-color: rgb(118, 137, 145);
  padding: 0.5rem;
}
.turn-indicator{
  display: inline-flex;
  width: 10rem;
  height: 3.5rem;
  border-radius: 1rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  border: solid black;
  margin: 0.2rem;
}
#white-turn-indicator{
  opacity: 20%;
  color: black;
  background-color: white;
}
#black-turn-indicator{
  opacity: 100%;
  color: white;
  background-color: black;
}
#white-turn-indicator[data-isWhiteTurn]{
  opacity: 100%;
}
#black-turn-indicator[data-isWhiteTurn]{
  opacity: 20%;
}
#undo-button{
  display: inline-block;
  position: relative;
  background-color: white;
  color: black;
  border: solid black;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  cursor: pointer;
}

#submit-css-button{
  position: absolute;
  background-color: white;
  color: black;
  border: solid black;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.piece{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--box-size);
  max-height: var(--box-size);
}
.piece.dragging{
  opacity: 0.1%;
}
.draggable{
  cursor: move;
}
.draggable.dragging{
  opacity: 0.1%;
}

/* Pawns */
#white-A-pawn::after,
#white-B-pawn::after,
#white-C-pawn::after,
#white-D-pawn::after,
#white-E-pawn::after,
#white-F-pawn::after,
#white-G-pawn::after,
#white-H-pawn::after{
  content: "\2659";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}

#black-A-pawn::after,
#black-B-pawn::after,
#black-C-pawn::after,
#black-D-pawn::after,
#black-E-pawn::after,
#black-F-pawn::after,
#black-G-pawn::after,
#black-H-pawn::after{
  content: "\265F";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}

/* Rank one */
#white-A-rook::after,
#white-H-rook::after{
  content: "\2656";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#white-B-knight::after,
#white-G-knight::after{
  content: "\2658";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#white-C-bishop::after,
#white-F-bishop::after{
  content: "\2657";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#white-C-bishop::after,
#white-F-bishop::after{
  content: "\2657";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#white-E-king::after{
  content: "\2654";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#white-D-queen::after{
  content: "\2655";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}

/* Rank eight */
#black-A-rook::after,
#black-H-rook::after{
  content: "\265C";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#black-B-knight::after,
#black-G-knight::after{
  content: "\265E";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#black-C-bishop::after,
#black-F-bishop::after{
  content: "\265D";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#black-E-king::after{
  content: "\265A";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#black-D-queen::after{
  content: "\265B";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}

/* tr[data-rank = "7"]{
  rotate: 90deg;
} */