:root {
    --size:      800px;
    --box-size:  calc(var(--size)/8);
    --dark:      grey;
    --light:     white;
    --hover:     lightgreen
  }
body{
  background-color: rgb(36,44,48);
}
.board {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  max-width: var(--size);
  max-width: var(--size);
  border-spacing: 0;
}
.square {
  box-sizing: border-box;
  width: var(--box-size);
  height: var(--box-size);
  min-width: var(--box-size);
  min-height: var(--box-size);
  padding: 0;
}
.light{
  background: var(--light);
}
.dark{
  background: var(--dark)
}
td:hover {
  background: var(--hover);
  cursor: pointer
}

.turn-control-dashboard{
  position: absolute;
  display: flex;
  left: 50%;
  align-content: center;
  justify-content: center;
  top: calc(30px + var(--size));
  transform: translate(-50%);
}
.turn-indicator-container{
  display: inline-block;
  border-radius: 1rem;
  background-color: rgb(118, 137, 145);
  padding: 0.5rem;
}
.turn-indicator{
  display: inline-flex;
  width: 10rem;
  height: 3.5rem;
  border-radius: 1rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  border: solid black;
  margin: 0.2rem;
}
#light-turn-indicator{
  color: black;
  background-color: white;
}
#dark-turn-indicator{
  color: white;
  background-color: black;
}
#light-turn-indicator[isLight="false"]{
  opacity: 20%;
}
#dark-turn-indicator[isLight="true"]{
  opacity: 20%;
}
#undo-button{
  display: inline-block;
  position: relative;
  background-color: white;
  color: black;
  border: solid black;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  cursor: pointer;
}

.piece {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--box-size);
  max-height: var(--box-size);
}
.piece.dragging {
  opacity: 0.1%;
}
.draggable {
  cursor: move;
}
.draggable.dragging {
  opacity: 0.1%;
}

/* Pawns */
#light-A-pawn::after,
#light-B-pawn::after,
#light-C-pawn::after,
#light-D-pawn::after,
#light-E-pawn::after,
#light-F-pawn::after,
#light-G-pawn::after,
#light-H-pawn::after{
  content: "\2659";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}

#dark-A-pawn::after,
#dark-B-pawn::after,
#dark-C-pawn::after,
#dark-D-pawn::after,
#dark-E-pawn::after,
#dark-F-pawn::after,
#dark-G-pawn::after,
#dark-H-pawn::after{
  content: "\265F";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}

/* Rank one */
#light-A-rook::after,
#light-H-rook::after{
  content: "\2656";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#light-B-knight::after,
#light-G-knight::after{
  content: "\2658";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#light-C-bishop::after,
#light-F-bishop::after{
  content: "\2657";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#light-C-bishop::after,
#light-F-bishop::after{
  content: "\2657";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#light-X-king::after{
  content: "\2654";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#light-X-queen::after{
  content: "\2655";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}

/* Rank eight */
#dark-A-rook::after,
#dark-H-rook::after{
  content: "\265C";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#dark-B-knight::after,
#dark-G-knight::after{
  content: "\265E";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#dark-C-bishop::after,
#dark-F-bishop::after{
  content: "\265D";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#dark-X-king::after{
  content: "\265A";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}
#dark-X-queen::after{
  content: "\265B";
  font-size: 3rem;
  font-weight: normal;
  opacity: 100%;
}

/* td[data-line = "2"]{
  display: none;
} */

/* td[data-col = "B"]{
  display: none;
} */