*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --board-size:      62vh;
    --box-size:  calc(var(--board-size)/8);
    --leg-size:  calc(var(--board-size)/28);
    --button-width: calc(var(--board-size)/9);
    --button-height: calc(var(--board-size)/9);
    --piece-size: 5vh;

    --background: rgb(36,44,48);
    --dark:      rgb(97, 97, 97);
    --light:     rgb(222, 222, 222);
    --hover:     rgb(212, 203, 128);
    --valid-move-light: #e7df9a;
    --valid-move-dark: rgb(171, 167, 103);
  }
body{
  background-color: var(--background);
}

/* checkmate overlay */
#checkmate-overlay{
  position: absolute;
  /* display: none; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0, 0, 0.75);
  z-index: 2;
}
#checkmate-text,
#play-again-button{
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#checkmate-text{
  text-align: center;
  color: white;
  font-size: 6vh;
  margin: 0vh;
}
#play-again-button{
  width: auto;
  border-radius: 2vh;
  height: auto;
  font-size: 4vh;
  padding-inline: 3vh; 
}

/* right panel */
#right-panel{
  position: absolute;
  display: flex;
  left: 50%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
#text-editor{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 30%;  
}
#submit-css-button{
  position: absolute;
  bottom: 32%;
  right: 3%;
  height: 13vh;
  width: 13vh;
  font-size: 2.4vh;
}

#logger{
  position: absolute;
  box-sizing: border-box;
  top: 70%;
  left: 0%;
  right: 0%;
  bottom: 0%;  
  color: white;
  background-color: rgb(48, 48, 49);
  border-left: solid 0.1vh rgb(137, 137, 137);
  overflow: scroll;
  overflow-x: hidden;
}

/* room list */
#room-list-container{
  position: absolute;
  left: 50%;
  top: 25%;
  bottom: 25%;
  transform: translate(-50%);
  width: 20%;
  background-color: rgb(48, 56, 60);
  border: 0.3vh solid black;
  border-radius: 1vh;
  z-index: 3;
}
#room-list{
  position: relative;
  list-style: none;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 20%;
  align-items: center;
  padding: 0;
  padding-left: 5%;

  overflow-y: scroll;
  height: 80%;
}
.join-room-button{
  position: relative;
  width: 95%;
  height: 3vh;
  border-radius: 0.4vh;
  align-items: center;
  justify-content: center;
  margin-top: 0.25vh;
}
#room-list > li:nth-of-type(odd) > button:first-child{
  background-color: rgb(48, 48, 57);
  color: white;
}
#room-list > li:nth-of-type(even) > button:first-child{
  background-color: rgb(60, 61, 70);
  color: white;
}
#create-room-button{
  position: absolute;
  height: 5vh;
  width: 46.5%;

  border-radius: 1vh;
  bottom: 2%;
  right: 2%;
}
#roomlist-play-local-button{
  position: absolute;
  height: 5vh;
  width: 46.5%;

  border-radius: 1vh;
  bottom: 2%;
  left: 2%;
}

/* left panel */
#left-panel{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0%;
  right: 50%;
  top: 0%;
  bottom: 0%;
}
.slide-panels-container h4,ul{
  margin-bottom: 1vh;
}
.slide-panels-container ul{
  margin-top: 1vh;
}


.slide-panel{
  --rules-panel-width: 60vh;
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  top: 50%;
  right: 0%;
  left: 0%;
  background-color: rgb(36,44,48);
  left: calc(-1*var(--rules-panel-width));
  width: var(--rules-panel-width);
  transform: translateY(-50%);
  z-index: 3;
  border-right: 0.3vh solid rgb(81, 85, 88);
  transition-property: left;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.slide-panel > .panel-text-container{
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  padding-left: 5%;
  font-family: Lucida !important;
  color: rgb(219, 219, 219);
}
.showPanel{
  left: 0%; 
}
.slide-tab{
  position: absolute;
  box-sizing: border-box;
  right: 0%;
  top: 50%;
  transform: translateY(-50%) translateX(2.8vh);
  height: 10vh;
  width: 2.5vh;
  color: rgb(234, 234, 234);
  background-color: rgb(34, 34, 45);
  border-radius: 0vh 1vh 1vh 0vh;
  border: 0.2vh solid black;
  z-index: 1;
}
.slide-tab div{
  width: fit-content;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-46.5%) translateY(-50%) rotate(90deg);
  font-size: 2vh;
  font-weight: normal;
  user-select: none;
}

.slide-tab#rules-tab{
  position: absolute;
  top: 40%;
  transform: translateX(2.5vh);
}
.slide-tab#stylings-tab{
  top:40%;
  position: absolute;
  transform: translateY(10.1vh) translateX(2.5vh);
}

.tooltip{
  position: absolute;
  top: 8%;
  right: 15.5%;
  width: 2.2vh;
  height: 2.2vh;
  color:var(--background);
  background-color: rgb(116, 116, 116);
  border-radius: 50%;
  z-index: 1;
  font-size: 1.2vh;
  font-weight: bold;
  cursor: default;
  transition: filter 0.2s, opacity 0.2s;
  text-align: center;
  line-height: 170%;
  user-select: none;
}
.tooltip:hover{
  filter: brightness(120%);
}
.tooltip-text-container{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0.5vh;
  left: 3vh;
  display: none;
  width: 11vh;
  height: auto;
  color: var(--background);
  background-color: rgb(116, 116, 116);
  border-radius: 0.4vh;
  text-align: left;
  padding-left: 0.3vh;
}
.tooltip:hover > .tooltip-text-container{
  display: block;
}
.tooltip-text{
  font-size: 1.5vh;

}


#board-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2%;
  left: 50%;
  transform: translate(-50%);
  max-width: var(--board-size);
  max-height: var(--board-size);
  padding: 4%;
  background-color: rgb(42, 41, 46);
  border: 0.1vh solid black;
  border-radius: 2vh;
  z-index: 1;
}
.board{
  position: relative;
  width: var(--board-size);
  height: var(--board-size);
  border-spacing: 0;
}
td.legend{
  color: rgb(202, 202, 198);
  box-sizing: border-box;
  background-color: rgb(15, 15, 15);
  text-align: center;
  font-size: calc(0.7*var(--leg-size));
  font-weight: bold;
}
td.legend[data-leg-fyle]{
  max-height: var(--leg-size);
  width: var(--box-size);
  font-size: calc(0.7*var(--leg-size));
}
td.legend[data-leg-rank]{
  min-width: var(--leg-size);
  height: var(--box-size);
}

td.legend.top:first-child{
  border-radius: 50% 0 0 0;
}
td.legend.top:last-child{
  border-radius: 0 50% 0 0;
}
td.legend.bottom:first-child{
  border-radius: 0 0 0 50%;
}
td.legend.bottom:last-child{
  border-radius: 0 0 50% 0;
}

.square{
  box-sizing: border-box;
  width: var(--box-size);
  height: var(--box-size);
  min-width: var(--box-size);
  min-height: var(--box-size);
  transition: background-color 0.2s; 
}
.light{
  background-color: var(--light);
}
.dark{
  background-color: var(--dark)
}
.square:hover{
  background-color: var(--hover);
  cursor: pointer
}
.square.dark.validMove{
  background-color: var(--valid-move-dark);
}
.square.light.validMove{
  background-color: var(--valid-move-light);
}

/* the butttons below the board */
.turn-control-dashboard{
  position: relative;
  left: 50%;
  min-height: var(--button-height);
  max-height: var(--button-height);
  justify-content: center;
  align-items: center;
  transform: translate(-50%);
  padding-top: 4vh;
  display: inline-flex;
  margin-inline: 0.4vh;
}
.turn-indicator-container{
  display: inline-block;
  box-sizing: content-box;
  border-radius: 2vh;
  max-height: var(--button-height);
  background-color: rgb(69, 82, 87);
  margin-inline: 0.4%;
  padding: 1%;
}
.turn-indicator{
  display: inline-flex;
  width: 13vh;
  height: 4vh;
  margin: 0.2vh;
  border-radius: inherit;
  justify-content: center;
  align-items: center;
  border: 0.2vh solid black;
  font-size: 2.2vh;
  font-weight: bold;
}
#white-turn-indicator{
  opacity: 20%;
  color: rgb(21, 21, 21);
  background-color: rgb(220, 220, 220);
}
#black-turn-indicator{
  opacity: 100%;
  color: rgb(237, 237, 237);
  background-color: rgb(26, 26, 26);
}
#white-turn-indicator[data-isWhiteTurn]{
  opacity: 100%;
}
#black-turn-indicator[data-isWhiteTurn]{
  opacity: 20%;
}

button{
  background-color: rgb(42, 41, 46);
  color: rgb(224, 224, 224);
  border: 0.1vh solid black;
  width: var(--button-width);
  height: var(--button-height);
  border-radius: 20%;
  transition: opacity 0.3s;
  margin-inline: 0.4%;
  font-size: 1.6vh;
  font-weight: bold;
  cursor: pointer;
  transition: filter 0.15s;
}
button:hover{
  filter: brightness(120%);
}

#undo-button,
#redo-button,
#new-game-button,
#view-games-button{
  display: inline-block;
  position: relative;
}




.piece{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--box-size);
  max-height: var(--box-size);
}
.piece.dragging{
  opacity: 0.1%;
}
.draggable{
  cursor: move;
}
.draggable.dragging{
  opacity: 0.1%;
}

/* Pieces */
.piece::after{
  font-size: var(--piece-size);
}
.piece[bold]::after{
  font-weight: bold;
}
.piece[big]::after{
  font-size: calc(var(--piece-size)*2);
}
.piece[ghost]::after{
  opacity: 50%;
}

/* Pawns */
.white.pawn::after{
  content: "\2659";
}
.black.pawn::after{
  content: "\265F";
}

/* Rank one */
.white.rook::after{
  content: "\2656";
}
.white.knight::after{
  content: "\2658";
}
.white.bishop::after{
  content: "\2657";
}
.white.king::after{
  content: "\2654";
}
.white.queen::after{
  content: "\2655";
}

/* Rank eight */
.black.rook::after{
  content: "\265C";
}
.black.knight::after{
  content: "\265E";

}
.black.bishop::after{
  content: "\265D";
}
.black.king::after{
  content: "\265A";
}
.black.queen::after{
  content: "\265B";
}

/* Scrollbar from https://dev.to/xtrp/how-to-create-a-beautiful-custom-scrollbar-for-your-site-in-plain-css-1mjg */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}