:root{
    --board-size:      800px;
    --box-size:  calc(var(--board-size)/8);
    --dark:      grey;
    --light:     white;
    --hover:     lightgreen;
    --leg-size:  25px;
  }
body{
  background-color: rgb(36,44,48);
}
#text-editor{
  position: absolute;
  width:100%;
  height: 100%;
}
#left-panel{
  position: absolute;
  left: 0%;
  right: 50%;
  top: 0%;
  bottom: 0%;
}
#right-panel{
  position: absolute;
  display: flex;
  left: 50%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
#board-container{
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  max-width: var(--board-size);
  max-width: var(--board-size);
  border: 50px solid rgb(36, 36, 59);
}
.board{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: var(--board-size);
  max-width: var(--board-size);
  border-spacing: 0;
}
td.legend{
  color: rgb(202, 202, 198);
  box-sizing: border-box;
  background-color: black;
  text-align: center;
}
td.legend[data-leg-fyle]{
  height: var(--leg-size);
  width: var(--box-size);
}
td.legend[data-leg-rank]{
  min-width: var(--leg-size);
  height: var(--box-size);
}

.square{
  box-sizing: border-box;
  width: var(--box-size);
  height: var(--box-size);
  min-width: var(--box-size);
  min-height: var(--box-size);
  padding: 0;
}
.light{
  background: var(--light);
}
.dark{
  background: var(--dark)
}
.square:hover{
  background: var(--hover);
  cursor: pointer
}
.square.validMove{
  background: red;
}

.turn-control-dashboard{
  position: relative;
  display: flex;
  left: 50%;
  align-content: center;
  justify-content: center;
  top: calc(22% + var(--board-size));
  transform: translate(-50%);
}
.turn-indicator-container{
  display: inline-block;
  border-radius: 1rem;
  background-color: rgb(118, 137, 145);
  padding: 0.5rem;
}
.turn-indicator{
  display: inline-flex;
  width: 10rem;
  height: 3.5rem;
  border-radius: 1rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  border: solid black;
  margin: 0.2rem;
}
#white-turn-indicator{
  opacity: 20%;
  color: black;
  background-color: white;
}
#black-turn-indicator{
  opacity: 100%;
  color: white;
  background-color: black;
}
#white-turn-indicator[data-isWhiteTurn]{
  opacity: 100%;
}
#black-turn-indicator[data-isWhiteTurn]{
  opacity: 20%;
}
#undo-button{
  display: inline-block;
  position: relative;
  background-color: white;
  color: black;
  border: solid black;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  cursor: pointer;
}

#submit-css-button{
  position: absolute;
  background-color: white;
  color: black;
  border: solid black;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.piece{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--box-size);
  max-height: var(--box-size);
}
.piece.dragging{
  opacity: 0.1%;
}
.draggable{
  cursor: move;
}
.draggable.dragging{
  opacity: 0.1%;
}

/* Pieces */
.piece::after{
  font-size: 3rem;
}
.piece[bold]::after{
  font-weight: bold;
}
.piece[big]::after{
  font-size: 6rem;
}
.piece[ghost]::after{
  opacity: 50%;
}

/* Pawns */
.white.pawn::after{
  content: "\2659";
}
.black.pawn::after{
  content: "\265F";
}

/* Rank one */
.white.rook::after{
  content: "\2656";
}
.white.knight::after{
  content: "\2658";
}
.white.bishop::after{
  content: "\2657";
}
.white.king::after{
  content: "\2654";
}
.white.queen::after{
  content: "\2655";
}

/* Rank eight */
.black.rook::after{
  content: "\265C";
}
.black.knight::after{
  content: "\265E";

}
.black.bishop::after{
  content: "\265D";
}
.black.king::after{
  content: "\265A";
}
.black.queen::after{
  content: "\265B";
}