*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --board-size:      60vh;
    --box-size:  calc(var(--board-size)/8);
    --leg-size:  calc(var(--board-size)/28);
    --button-width: calc(var(--board-size)/8);
    --button-height: calc(var(--board-size)/8);
    --piece-size: 5vh;

    --dark:      rgb(97, 97, 97);
    --light:     rgb(222, 222, 222);
    --hover:     rgb(212, 203, 128);
    --valid-move-light: #e7df9a;
    --valid-move-dark: rgb(171, 167, 103);
  }
body{
  background-color: rgb(36,44,48);
}
#checkmate-overlay{
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0, 0, 0.75);
  z-index: 2;
}
#checkmate-text,
#play-again-button{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#checkmate-text{
  text-align: center;
  color: white;
  font-size: 6vh;
}

#text-editor{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;  
}
#left-panel{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0%;
  right: 50%;
  top: 0%;
  bottom: 0%;
}
#right-panel{
  position: absolute;
  display: flex;
  left: 50%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

#room-list-container{
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  width: 10rem;
  height: 40rem;
  background: rgb(240, 104, 104);
}

#create-room-button{
  position: absolute;
  background-color: white;
  color: black;
  border: solid black;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

#play-local-button{
  position: absolute;
  background-color: white;
  color: black;
  border: solid black;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}

#board-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2%;
  left: 50%;
  transform: translate(-50%);
  max-width: var(--board-size);
  max-height: var(--board-size);
  padding: 4%;
  background-color: rgb(42, 41, 46);
  border: 0.1vh solid black;
  border-radius: 2vh;
}
.board{
  position: relative;
  width: var(--board-size);
  height: var(--board-size);
  border-spacing: 0;
}
td.legend{
  color: rgb(202, 202, 198);
  box-sizing: border-box;
  background-color: black;
  text-align: center;
  font-size: calc(0.7*var(--leg-size));
}
td.legend[data-leg-fyle]{
  max-height: var(--leg-size);
  width: var(--box-size);
  font-size: calc(0.7*var(--leg-size));
}
td.legend[data-leg-rank]{
  min-width: var(--leg-size);
  height: var(--box-size);
}

td.legend.top:first-child{
  border-radius: 50% 0 0 0;
}
td.legend.top:last-child{
  border-radius: 0 50% 0 0;
}
td.legend.bottom:first-child{
  border-radius: 0 0 0 50%;
}
td.legend.bottom:last-child{
  border-radius: 0 0 50% 0;
}

.square{
  box-sizing: border-box;
  width: var(--box-size);
  height: var(--box-size);
  min-width: var(--box-size);
  min-height: var(--box-size);
  transition: background-color 0.2s; 
}
.light{
  background-color: var(--light);
}
.dark{
  background-color: var(--dark)
}
.square:hover{
  background-color: var(--hover);
  cursor: pointer
}
.square.dark.validMove{
  background-color: var(--valid-move-dark);
}
.square.light.validMove{
  background-color: var(--valid-move-light);
}

/* the butttons below the board */
.turn-control-dashboard{
  position: relative;
  left: 50%;
  min-height: var(--button-height);
  max-height: var(--button-height);
  justify-content: center;
  align-items: center;
  transform: translate(-50%);
  padding-top: 4vh;
  display: inline-flex;
  margin-inline: 0.4vh;
}
.turn-indicator-container{
  display: inline-block;
  border-radius: 2vh;
  background-color: rgb(69, 82, 87);
  margin-inline: 0.4%;
  padding: 1%;
}
.turn-indicator{
  display: inline-flex;
  width: 15vh;
  height: 5vh;
  margin: 0.2vh;
  border-radius: inherit;
  justify-content: center;
  align-items: center;
  border: 0.2vh solid black;
  font-size: 2.5vh;
  font-weight: bold;
}
#white-turn-indicator{
  opacity: 20%;
  color: black;
  background-color: rgb(237, 237, 237);
}
#black-turn-indicator{
  opacity: 100%;
  color: rgb(237, 237, 237);
  background-color: rgb(26, 26, 26);
}
#white-turn-indicator[data-isWhiteTurn]{
  opacity: 100%;
}
#black-turn-indicator[data-isWhiteTurn]{
  opacity: 20%;
}

button{
  background-color: rgb(42, 41, 46);
  color: rgb(224, 224, 224);
  border: 0.1vh solid black;
  width: var(--button-width);
  height: var(--button-height);
  border-radius: 20%;
  cursor: pointer;
  transition: opacity 0.5s;
  margin-inline: 0.4%;
  font-size: 1.6vh;
  font-weight: bold;
}
#undo-button,
#redo-button,
#new-game-button,
#view-games-button{
  display: inline-block;
  position: relative;
}
#submit-css-button{
  position: absolute;
  bottom: 10px;
  right: 10px;
}



.piece{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--box-size);
  max-height: var(--box-size);
}
.piece.dragging{
  opacity: 0.1%;
}
.draggable{
  cursor: move;
}
.draggable.dragging{
  opacity: 0.1%;
}

/* Pieces */
.piece::after{
  font-size: var(--piece-size);
}
.piece[bold]::after{
  font-weight: bold;
}
.piece[big]::after{
  font-size: calc(var(--piece-size)*2);
}
.piece[ghost]::after{
  opacity: 50%;
}

/* Pawns */
.white.pawn::after{
  content: "\2659";
}
.black.pawn::after{
  content: "\265F";
}

/* Rank one */
.white.rook::after{
  content: "\2656";
}
.white.knight::after{
  content: "\2658";
}
.white.bishop::after{
  content: "\2657";
}
.white.king::after{
  content: "\2654";
}
.white.queen::after{
  content: "\2655";
}

/* Rank eight */
.black.rook::after{
  content: "\265C";
}
.black.knight::after{
  content: "\265E";

}
.black.bishop::after{
  content: "\265D";
}
.black.king::after{
  content: "\265A";
}
.black.queen::after{
  content: "\265B";
}